@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #F3F4F6;
  --text: #4B5563; /* medium gray */
}

.dark {
  --background: #0a0a0a;
  --text: #4B5563; /* same medium gray in dark mode */
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
